<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          {{ form.name.label(class="form-control-label") }}
          {% if form.name.errors %}
            {{ form.name(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.name(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          {{ form.cure_profile.label(class="form-control-label") }}
          {% if form.cure_profile.errors %}
            {{ form.cure_profile(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.cure_profile.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.cure_profile(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          {{ form.offset_x.label(class="form-control-label") }}
          {% if form.offset_x.errors %}
            {{ form.offset_x(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.offset_x.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.offset_x(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.offset_y.label(class="form-control-label") }}
          {% if form.offset_y.errors %}
            {{ form.offset_y(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.offset_y.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.offset_y(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.offset_z.label(class="form-control-label") }}
          {% if form.offset_z.errors %}
            {{ form.offset_z(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.offset_z.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.offset_z(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          {{ form.vertical_gap_x.label(class="form-control-label") }}
          {% if form.vertical_gap_x.errors %}
            {{ form.vertical_gap_x(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.vertical_gap_x.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.vertical_gap_x(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.vertical_gap_y.label(class="form-control-label") }}
          {% if form.vertical_gap_y.errors %}
            {{ form.vertical_gap_y(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.vertical_gap_y.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.vertical_gap_y(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.vertical_gap_z.label(class="form-control-label") }}
          {% if form.vertical_gap_z.errors %}
            {{ form.vertical_gap_z(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.vertical_gap_z.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.vertical_gap_z(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          {{ form.horizontal_gap_x.label(class="form-control-label") }}
          {% if form.horizontal_gap_x.errors %}
            {{ form.horizontal_gap_x(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.horizontal_gap_x.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.horizontal_gap_x(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.horizontal_gap_y.label(class="form-control-label") }}
          {% if form.horizontal_gap_y.errors %}
            {{ form.horizontal_gap_y(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.horizontal_gap_y.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.horizontal_gap_y(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.horizontal_gap_z.label(class="form-control-label") }}
          {% if form.horizontal_gap_z.errors %}
            {{ form.horizontal_gap_z(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.horizontal_gap_z.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.horizontal_gap_z(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          {{ form.slot_gap_x.label(class="form-control-label") }}
          {% if form.slot_gap_x.errors %}
            {{ form.slot_gap_x(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.slot_gap_x.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.slot_gap_x(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.slot_gap_y.label(class="form-control-label") }}
          {% if form.slot_gap_y.errors %}
            {{ form.slot_gap_y(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.slot_gap_y.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.slot_gap_y(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          {{ form.slot_gap_z.label(class="form-control-label") }}
          {% if form.slot_gap_z.errors %}
            {{ form.slot_gap_z(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.slot_gap_z.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.slot_gap_z(class="form-control form-control-sm") }}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ form.notes.label(class="form-control-label") }}
        {% if form.notes.errors %}
          {{ form.notes(class="form-control form-control-sm is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.notes.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.notes(class="form-control form-control-sm") }}
          {{ form.submit(class="btn btn-outline-primary mt-2") }}
          <a class="btn btn-outline-danger mt-2" href="{{ url_for('configs') }}">Cancel</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="border-top mt-3">
          <small class="text-muted">
            Unsure on what values to input? <a href="{{ url_for('docs') }}">Get Help</a>
          </small>
        </div>
      </div>
    </div>

  </fieldset>
</form>