{% extends "base.html" %}

{% block content %}
  <h2 class="mt-3">Managing Jobs and Configs</h2>
  <p class="lead text-light">Creating a Config</p>
  <p>
    <ol>
      <li>Navigate to the <a href="{{ url_for('configs') }}" class="text-light">Configs</a> page.</li>
      <li>Click the "Add Config" button.</li>
      <li>Input the requested measurements into each field.</li>
      <li>Click the "Save" button.</li>
    </ol>
  </p>

  <p class="lead text-light">Starting a Job</p>
  <p>
    <ol>
      <li>Navigate to the <a href="{{ url_for('jobs') }}" class="text-light">Jobs</a> page.</li>
      <li>Use the dropdown to select a plug configuration.</li>
      <li>Click the "Start" button. If possible, the job will start.</li>
    </ol>
  </p>

  <h2 class="mt-3">Using the API</h2>
  <p class="lead text-light">Generating an API Key</p>
  <p>
    <ol>
      <li>Navigate to the <a href="{{ url_for('account') }}" class="text-light">Account</a> page.</li>
      <li>Click the "Generate API Key" button.</li>
      <li>Copy and save the API key displayed at the top of the page.</li>
    </ol>
  </p>

  <p class="lead text-light">Getting Configs</p>
  <p>
    Code Snippet (Python 3.x):
    <pre class="text-light">
      <code>
import requests

json = {
  'api_key': 'yourapikey'
}
response = requests.get('{{ app_url }}/api/configs', json=json)
print(response.json())
      </code>
    </pre>
    Example output:

    <pre class="text-light">
      <code>
{
  'data': [
    {
      'cure_profile': '0101',
      'horizontal_gap': 3.44,
      'horizontal_offset': 4.54,
      'id': 1,
      'name': '4-Pin Plug',
      'notes': '',
      'slot_gap': 4.3,
      'vertical_gap': 0.69,
      'vertical_offset': 1.46
    },
    {
      'cure_profile': '11111',
      'horizontal_gap': 4.52,
      'horizontal_offset': 0.11,
      'id': 2,
      'name': '5-Pin Plug',
      'notes': '',
      'slot_gap': 3.41,
      'vertical_gap': 3.88,
      'vertical_offset': 1.82
    },
  ],
  'response': 200
}
      </code>
    </pre>
  </p>

  <p class="lead text-light">Getting Jobs</p>
  <p>
    Code Snippet (Python 3.x):
    <pre class="text-light">
      <code>
import requests

json = {
  'api_key': 'yourapikey'
}
response = requests.get('{{ app_url }}/api/jobs', json=json)
print(response.json())
      </code>
    </pre>
    Example output:

    <pre class="text-light">
      <code>
{
  'data': [
    {
      'config':
      {
        'cure_profile': '1001',
        'horizontal_gap': 2.36,
        'horizontal_offset': 1.63,
        'id': 1,
        'name': '4-Pin Plug',
        'notes': '',
        'slot_gap': 3.26,
        'vertical_gap': 4.12,
        'vertical_offset': 3.35
      },
      'config_id': 1,
      'duration': None,
      'end_time': None,
      'id': 1,
      'notes': '',
      'start_time': 1679609539.226312,
      'status': 'started'
    },
    {
      'config':
      {
        'cure_profile': '00011',
        'horizontal_gap': 0.69,
        'horizontal_offset': 0.42,
        'id': 2,
        'name': '5-Pin Plug',
        'notes': '',
        'slot_gap': 3.63, 
        'vertical_gap': 3.26, 
        'vertical_offset': 4.96
      },
      'config_id': 2,
      'duration': 30.0,
      'end_time': 'Thu, 23 Mar 2023 15:48:19 GMT',
      'id': 2,
      'notes': '',
      'start_time': 1679609899.232809,
      'status': 'finished'
    }
  ],
  'response': 200
}
      </code>
    </pre>
  </p>

  <p class="lead text-light">Getting Active Jobs</p>
  <p>
    Code Snippet (Python 3.x):
    <pre class="text-light">
      <code>
import requests

json = {
  'api_key': 'yourapikey'
}
response = requests.get('{{ app_url }}/api/active', json=json)
print(response.json())
      </code>
    </pre>
    Example output:

    <pre class="text-light">
      <code>
{
  'data': [
    {
      'config':
      {
        'cure_profile': '1001',
        'horizontal_gap': 2.36,
        'horizontal_offset': 1.63,
        'id': 1,
        'name': '4-Pin Plug',
        'notes': '',
        'slot_gap': 3.26,
        'vertical_gap': 4.12,
        'vertical_offset': 3.35
      },
      'config_id': 1,
      'duration': None,
      'end_time': None,
      'id': 1,
      'notes': '',
      'start_time': 1679609539.226312,
      'status': 'started'
    }
  ],
  'response': 200
}
      </code>
    </pre>
  </p>

  <p class="lead text-light">Posting Job Status</p>
  <p>
    Code Snippet (Python 3.x):
    <pre class="text-light">
      <code>
import requests

status_update = {
  'api_key': 'yourapikey',
  'id': 1,
  'status': 'failed',
}
response = requests.post('{{ app_url }}/api/active', json=status_update)
print(response.json())
      </code>
    </pre>
    Example output:

    <pre class="text-light">
      <code>
{
  'response': 200
}
      </code>
    </pre>
  </p>

{% endblock %}